
* {
    font-family: 'Electrolize', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../img/saw.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backgroundHome {
    height: 100%;
    width: 100%;
}

.nombre {
    font-family: 'Bungee Shade', cursive;
    font-size: 1.6em;
    color: rgb(216, 8, 8);
    text-shadow: 2px 2px 2px rgb(231, 235, 15), -2px -2px 2px rgb(5, 4, 6);    
  }

.gameButton {
    height: 2.5em;
    border-radius: 3em;
    background-color: rgb(216, 8, 8);
    border: 0.6em groove  rgb(216, 8, 8);
    color: rgb(10, 8, 8);
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: url(../img/button.jpg);
    margin-top: 1em;    
}

.gameButton:hover {
    color: red;
    transition: 2s;
    animation: slidebg 4s linear infinite;
}
@keyframes slidebg {
    to { background-position:20vw; }
}

.name {
    font-family: 'Bungee Shade', cursive;
    font-size: 5em;
    color: rgb(216, 8, 8);
    text-shadow: 2px 2px 2px rgb(251, 3, 3), -2px -2px 2px rgb(8, 8, 2);
}
.row {
    margin: 0 !important;  
}

.play {
    align-items: start;
    margin-inline-start: 2em;
    justify-content: start;
    display: flex;
    font-family: 'Electrolize', sans-serif;
    font-size: 3em;
    color: red;
    text-shadow: 2px 2px 2px rgb(251, 3, 3), -2px -2px 2px rgb(8, 8, 2);
}

.texto-about {
    font-family: 'Bungee Shade';
    font-size: 1.6em;
    text-align: start;
    margin: 2em;
    color: white;
}

.about {
    border-right-color: 2em, solid red;
    width: 55em;    
}
#begin {
    color: red;
    text-shadow: 2px 2px 2px rgb(251, 3, 3), -2px -2px 2px rgb(8, 8, 2);
    cursor: pointer;
}
.exit {
    color: rgb(6, 0, 0);
    text-shadow: 2px 2px 2px rgb(6, 0, 0), -2px -2px 2px rgb(8, 8, 2);
    cursor: pointer;
    align-items: end;
    justify-content: end;
}


.choose{
    justify-content: center;
    display: flex;
    font-family: 'Bungee Shade', cursive;
    font-size: 3em;
    color: rgb(216, 8, 8);
    text-shadow: 2px 2px 2px rgb(251, 3, 3), -2px -2px 2px rgb(8, 8, 2);
}

@media only screen and (max-width: 990px) {
    html {
      font-size: 0.7em;
    }
  }
  
  @media only screen and (max-width: 750px) {
    html {
      font-size: 0.5em;
    }
  }
  
  @media only screen and (max-width: 680px) {
    html {
      font-size: 0.33em;
    }
  }

.exit:hover {
    cursor: pointer; 
}

.masterMainBody {
    row-gap: 2em;
    display: grid;
}

.easyDifficulty {
    margin-top: 2em;
    row-gap: 3em;
}

.sectionColours {
    display: flex;
    flex-direction: column;
    row-gap: 5em;
}

.selectColour {
    display: flex;
    justify-content: space-around;
    column-gap: 3em;
}

.inputColour {
    display: flex;
    justify-content: center;
    column-gap: 1.5em;
}



.checkBtn {
    margin-top: 1em;
    margin-left: .6em;
    font-size: 1.3em;
    height: 2em;
    width: 10em;
    border-radius: .5em;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colourBody {
    display: grid;
    justify-content: center;
}

.coloursTitle {
    align-items: center;
    text-align: center;
}

.easyDifficulty {
    display: flex;
    flex-direction: column;
}

.selectColour {
    display: flex;
    justify-content: space-around;
}

.selectColour .inputColours {
    background-color: transparent;
    height: 6em;
    width: 6em;
    border: none;
    appearance: none;
}

.selectColour .inputColours::-webkit-color-swatch {
    border-radius: 50%;
    appearance: none;
    border: .2em solid white;
}

.inputColours::-moz-color-swatch {
    border: none;
}

#playBtn{
    width: 50%;
}

#playerName{
    margin-top: 2em;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.mainboard{
    width: 40em;
    height: 75em;
    border: solid 2px rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4em;
    margin-top: 2em;
    background-color: rgba(0, 0, 0, 0.849);
    
}

.caja{
    width: 30em;
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0.2em;
    border-radius: 1em;
    align-items: center;
    background-color: rgba(174, 46, 46, 0.361);
}

.caja-pistas{
    width: 6em;
    height: 3.5em;
    border: solid 2px rgb(133, 26, 76);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d05da268;
    border-radius: 0.5em;
}

.bolitas{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: solid 2px rgb(4, 0, 9);
}
.pistas{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: solid 2px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 2px;
    margin-left: 3px;
    background-color: transparent;
}

.combsecreta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 10em;
    background-color:transparent;
    border-radius: 0.625em;
  }
  
  .combsecreta > span {
    width: 1.4em;
    height: 1.4em;
    margin: 0 0.625em;
    border-radius: 1.25em;
    border: 0.0625em solid black;
    display: none;
  }

  .bajo > span {
    width: 1.6875em;
    height: 1.6875em;
    margin-right: 1.2em;
    margin-left: 1.2em;
    border: 0.2em solid #000000;
    border-radius: 1.25em;
    margin-top: 2em;
  }
  
  .bajo > span:hover {
    cursor: pointer;
  }
  
  .bajo > span:active {
    transform: scale(1.2);
  }
  
  #aceptar1 {
    width: 4em;
    display: grid;
    place-items: center;
    color: white;
    background-color: #7cb342;
    user-select: none;
  }
  
  #borrar1 {
    width: 4em;
    display: grid;
    place-items: center;
    font-weight: bolder;
    background-color: white;
    user-select: none;
  }
  .bajo{
    width: 30em;
    height: 6em;
    border: solid 2px rgb(255, 255, 253);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.2em;
    border-radius: 1em;
    background-color: rgba(189, 192, 89, 0.758);
}

.partesuperior {
    margin-top: 1.2em;
    border-bottom: 0.125em solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
  }